<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/stylesheets/quit_org.css" rel="stylesheet" type="text/css" />
</head>

<body>  
    <div class="topbar">
        <div class="rig-side">
            <a class="link-wrapper link" href="/" >
                <div class="button button-home">
                    <img class="img-topbar"  src="/images/home.png">
                    <p>Home</p>
                </div>
            </a>
        </div>
        <h1>Valider une demande pour devenir admin</h1>
        <div class="right-side">
            <a class="link" href="/login/logout">
                <div class="button account">
                    <img class="img-topbar" src="/images/logout.png">
                    <p>Se déconnecter</p>
                </div>
            </a>
        </div>
    </div>
    <div>
        <h3>Voulez-vous valider cette demande ?</h3>
    <br>
    <br>

        <div class="wrapper-all">

        <div class="form-wrapper">
            <div class="frame">

            <div class="form-group validation-button">
                <div>
                    <p>Nom :  <%= nom %> </p>
                    <p>Prenom :  <%= prenom %> </p>
                    <p>Role :  <%= role %> </p>
                    <p>Raison :  <%= reason %> </p>
                </div>
                <div class="buttons">
                    

            <form method='post' action="/admin/acceptadmin">
                <input type="hidden" id="id" name="id" value="<%=id%>">
                <input type="hidden" id="role" name="role" value="<%=role%>">
                <button type="submit">Valider</button>
            </form>
            <form method='post' action="/admin/denyadmin">
                <input type="hidden" id="id" name="id" value="<%=id%>">
                <input type="hidden" id="role" name="role" value="<%=role%>">
                <button type="submit">Refuser</button>
            </form>
            <input type="button" onclick="location.href='/';" value="Retour" />
            </div>
            </div>
            </div>
        </div>
    </div>

        <br>
    </div>
</body>