<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/stylesheets/offre.css" rel="stylesheet" type="text/css" />
    <title>Détail de l'Offre</title>
</head>
<body>
    <h1>Détail de l'offre :</h1>
    <% offre.forEach((offre) => { %>
        <tr><%= offre.Indications %></tr><br/>
        <tr><%= offre.Intitule_Poste %></tr><br/>
        <tr><%= offre.Description_Poste %></tr><br/>
        <tr><%= offre.Salaire_Minimum %> - <%= offre.Salaire_Maximum %></tr><br/>
        <tr><%= offre.Rythme_Travail %></tr><br/>
        <tr><%= offre.Responsable_Hierarchique %></tr><br/>
        <tr><%= offre.Statut_Poste %></tr><br/>
        <tr><%= offre.Adresse_Lieu %>, <%= offre.Ville %>, <%= offre.Code_Postal %>, <%= offre.Pays %></tr><br/>
        <tr><%= offre.Prenom_Recruteur %> <%= offre.Nom_Recruteur %></tr><br/>
        <tr><%= offre.Email_Recruteur %></tr><br/>
        <tr><%= offre.Telephone_Recruteur %></tr><br/>
        <tr><%= offre.Nom_Organisation %></tr><br/>
        <% }) %>
        </body>
</html>
